* {
    box-sizing: border-box;
}
body {
    background-color:beige;
}
header {
    font-family: 'Rampart One', cursive;
    font-style: italic;
    font-size: 5vw;
    text-align: center;    
    color:navy;
}
img {
    width: auto;
    height: auto;
}
ul {
    list-style-type: square;
}
li {
    padding: 0px;
    margin-bottom: 2px;
    background-color: lightblue;
    font-size: xx-large;
    font-family: 'Quicksand', sans-serif, bold;
    border: 2px;
    border-style: double;
    border-color:orange;
}
li:hover {
    background-color: #0099cc;
    font-size: xx-large;
    font-family: 'Quicksand', sans-serif, bold;
    border: 2px;
    border-style: double;
    border-color:purple;
}
.lista {
    float: left;
}
.datos {
    width: 75%;
    float: left;
    padding: 10px;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-style: italic;
}
dd {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-style: italic;   
}
