body {
    background-color:beige;
}
h1 {
    font-family: 'Rampart One', cursive;
    font-style: italic;
    font-size: 5vw;
    text-align: center;    
    color:navy;
}
div {
    float: left;
    font-size: xx-large;
    font-family: 'Quicksand', sans-serif, bold;
}
img{
    width: auto;
    height: auto;
}